In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
# import plotly
# import plotly.express as px

In [4]:
import pandas as pd
import sqlite3
from sklearn import preprocessing
import pickle

import numpy as np

# import seaborn as sns
# import matplotlib.pyplot as plt
# import plotly
# import plotly.express as px

con = sqlite3.connect("base.db")

auto_data = pd.read_sql("SELECT * FROM Data", con)
auto_data_n = pd.read_csv('test.csv')

auto_data.dropna(axis=0, inplace=True)

auto_data = pd.concat([auto_data, auto_data_n])
auto_data.drop('price', axis=1, inplace=True)

auto_data = auto_data.loc[auto_data['id'] == 1.0]
# print(auto_data.info())
auto_data

,id,bodyType,brand,color,description,enginePower,fuelType,mileage,model_info,numberOfDoors,...,type_of_drive,wheel,modelDate,productionDate,name,engineDisplacement,date,sell_id,vehicleConfiguration,time_of_ownership
0,1.0,sdds,BMW,dsad,dvsd fd f sfgbgfdgf f bgbb fgbdfbgf vf,345,бензин,345435,sss,4,...,передний,правый,2010,2005,fdb fbrb er rvdvdfvfv,3,1.661199e+09,NaN,NaN,NaN

In [ ]:
con = sqlite3.connect("base.db")

auto_data = pd.read_sql("SELECT * FROM Data", con)
# auto_data = pd.read_csv('out.csv')

In [ ]:
auto_data.dropna(axis=0, inplace=True)

In [ ]:
auto_data.shape

In [ ]:
def change_params(value):
  if value == 'None':
    return 'Other'
  else:
    return value
auto_data['model_info'] = auto_data['model_info'].apply(change_params)

In [ ]:
def engine(value):
  if value != 'undefined LTR':
    new_value = float(value[0:3])
  else:
    new_value = 0.0
  return new_value
auto_data['engine_v'] = auto_data['engineDisplacement'].apply(engine)

In [ ]:
auto_data['engine_v'] = auto_data.engine_v.apply(lambda x: auto_data['engine_v'].mean() if x == 0.0 else x)

In [ ]:
auto_data.drop('engineDisplacement', axis=1, inplace=True)

In [ ]:
def enginePower_toint(value):
  new_value = int(value)
  return new_value
auto_data['enginePower'] = auto_data['enginePower'].apply(enginePower_toint)

In [ ]:
color_arr = ['чёрный', 'белый', 'серый', 'синий', 'серебристый']
def change_cat(value):
  if value in color_arr:
    return value
  else:
    return 'другой цвет'
auto_data['color'] = auto_data['color'].apply(change_cat)

In [ ]:
type_arr = ['седан', 'внедорожник 5 дв.', 'купе', 'хэтчбек 5 дв.', 'лифтбек']
def change_cat(value):
  if value in type_arr:
    return value
  else:
    return 'другой кузов'
auto_data['bodyType'] = auto_data['bodyType'].apply(change_cat)

In [ ]:
auto_data['гараж'] = auto_data.description.apply(lambda x: 1 if 'гараж' in x else 0)
auto_data['подарок'] = auto_data.description.apply(lambda x: 1 if 'подарок' in x else 0)
auto_data['торг'] = auto_data.description.apply(lambda x: 1 if 'торг' in x else 0)
auto_data['шины'] = auto_data.description.apply(lambda x: 1 if ('шин' in x) or ('резин' in x) else 0)
auto_data['дилер'] = auto_data.description.apply(lambda x: 1 if 'дилер' in x else 0)
auto_data['подогрев'] = auto_data.description.apply(lambda x: 1 if 'подогрев' in x else 0)
auto_data['обмен'] = auto_data.description.apply(lambda x: 1 if 'обмен' in x else 0)
auto_data['обслуж'] = auto_data.description.apply(lambda x: 1 if 'обслуж' in x else 0)
auto_data['срочн'] = auto_data.description.apply(lambda x: 1 if 'срочн' in x else 0)
auto_data['полн'] = auto_data.description.apply(lambda x: 1 if 'полн' in x else 0)
auto_data['скидк'] = auto_data.description.apply(lambda x: 1 if 'скидк' in x else 0)
auto_data['диск'] = auto_data.description.apply(lambda x: 1 if 'диск' in x else 0)

In [ ]:
auto_data['4wd'] = auto_data['name'].apply(lambda x: 1 if '4WD' in x else 0)
auto_data['xdrive'] = auto_data['name'].apply(lambda x: 1 if 'xDrive' in x else 0)

In [ ]:
auto_data.drop('name', axis=1, inplace=True)

In [ ]:
auto_data['Y_no_sale'] = abs(auto_data.productionDate - auto_data.modelDate)
auto_data['m_per_y'] = auto_data.mileage/(2021 - auto_data['productionDate'])
auto_data['hard_usage'] = auto_data['m_per_y'].apply(lambda x: 1 if x >=20000 else 0)
auto_data['trash'] = auto_data.mileage.apply(lambda x: 1 if x>=300000 else 0)

In [ ]:
def car_age(value):
  return 2022 - value
auto_data['car_age'] = auto_data['productionDate'].apply(car_age)

In [ ]:
def model_age(value):
  return 2022 - value
auto_data['modelAge'] = auto_data['modelDate'].apply(model_age)

In [ ]:
auto_data.drop('productionDate', axis=1, inplace=True)
auto_data.drop('modelDate', axis=1, inplace=True)
auto_data.drop('id', axis=1, inplace=True)
auto_data.drop('date', axis=1, inplace=True)
# auto_data.drop('sell_id', axis=1, inplace=True)
# auto_data.drop('vehicleConfiguration', axis=1, inplace=True)
# auto_data.drop('time_of_ownership', axis=1, inplace=True)

In [ ]:
auto_data['mileage'] = np.log(auto_data['mileage'])
auto_data['m_per_y'] = np.log(auto_data['m_per_y'])

In [ ]:
from sklearn import preprocessing

In [ ]:
auto_data.shape

In [ ]:
import pickle

In [ ]:
with open('data.pickle', 'rb') as handle:
    b = pickle.load(handle)

In [ ]:
columns_to_change = ['bodyType', 'brand', 'color', 'fuelType',
       'model_info', 'vehicleTransmission', 'owners',
       'vehicle_passport', 'type_of_drive', 'wheel']

In [ ]:
auto_data.info()

In [ ]:
# Сброс ограничений на количество выводимых рядов
pd.set_option('display.max_rows', None)
 
# Сброс ограничений на число столбцов
pd.set_option('display.max_columns', None)
 
# Сброс ограничений на количество символов в записи
pd.set_option('display.max_colwidth', None)
# auto_data.to_csv('out.csv')
# auto_data.drop(0, axis=1, inplace=True)
# auto_data.drop(auto_data.columns[[0]], axis = 1, inplace=True)
auto_data

In [ ]:
#auto_data.dropna(inplace=True)
data_onehot = b.transform(auto_data[columns_to_change]).toarray()
column_names = b.get_feature_names_out(columns_to_change)

print('Shape of one hot data: {}'.format(data_onehot.shape))

In [ ]:
data_onehot = pd.DataFrame(data_onehot, columns=column_names)

In [ ]:
data_onehot.shape

In [ ]:
result_df = pd.concat([
    auto_data.drop(columns_to_change, axis=1),
    data_onehot
], axis=1)

result_df.head()

In [ ]:
result_df.shape

In [ ]:
result_df.dropna(axis=0, inplace=True)

In [ ]:
df = result_df['description']
result_df.drop('description', axis=1, inplace=True)

In [ ]:
X = result_df.drop('price', axis=1)
y = result_df['price']

In [ ]:
with open('scaler.pickle', 'rb') as handle:
    b = pickle.load(handle)

In [ ]:
X_scaled = b.transform(X)

In [ ]:
X_scaled.shape

In [ ]:
!pip install pymorphy2
!pip install nltk

In [ ]:
import re
from pymorphy2 import MorphAnalyzer
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
import tensorflow as tf

In [ ]:
patterns = "[A-Za-z0-9!#$%&'()*+,./:;<=>?@[\]^_`{|}~—\"\-]+"
stopwords_ru = stopwords.words("russian")
morph = MorphAnalyzer()

def lemmatize(doc, stopwords=stopwords_ru):
    #исключаем символы не подходящие под патерны
    doc = re.sub(patterns, ' ', doc)
    tokens = []
    for token in doc.split():
        if token and token not in stopwords:
            token = token.strip()
            token = morph.normal_forms(token)[0]
            tokens.append(token)
    return ' '.join(tokens)
df.apply(lemmatize)

In [ ]:
df.shape

In [ ]:
vocab_size = 100000 # количество слов
oov_tok = '<OOV>' # OOV = Out of Vocabulary

In [ ]:
from sklearn.model_selection import KFold
from sklearn import metrics

from sklearn import model_selection

In [ ]:
with open('tokenizer.pickle', 'rb') as handle:
    b = pickle.load(handle)

In [ ]:
df = tokenizer.texts_to_sequences(df)

In [ ]:
trunc_type = 'post' #метод ограничения
padding_type = 'post' #метод дополнения
embedding_dim = 64 # размер эмбединга
max_length = 300 # максимальная длина последовательности

# ограничиваем длину последовательностей 

test_padded = pad_sequences(
    df, 
    maxlen=max_length, 
    padding=padding_type, 
    truncating=trunc_type
)

In [ ]:
test_padded.shape

In [ ]:
from tensorflow.keras import layers
from tensorflow.keras import models
from tensorflow.keras import optimizers
from tensorflow.keras import callbacks
from tensorflow.keras import utils
from tensorflow.keras import backend
from tensorflow.keras import metrics

In [ ]:
model = tf.keras.models.load_model('model.h5')
predictions = model.predict([test_padded, X_scaled])

In [ ]:
!pip install catboost

In [ ]:
from catboost import CatBoostRegressor

In [ ]:
from_file = CatBoostRegressor()
from_file.load_model("meta")

In [ ]:
test_predict_catboost = np.exp(from_file.predict(X_scaled))

In [ ]:
def mape(y_true, y_pred):
    return np.mean(np.abs((y_pred-y_true)/y_true))

In [ ]:
all_predict = (test_predict_catboost + predictions.reshape(-1))/2
print(f"TEST mape: {(mape(y, all_predict))*100:0.2f}%")

In [ ]:
print(f"TEST mape: {(mape(y, test_predict_catboost))*100:0.2f}%")